.body {
    background-color: #ffd2c6;
}

.head {
    width: 100%;
    height: 50vh;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(255, 0, 0)), to(#ff9900)) fixed !important;
    position: relative;
}

.page_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: white;
}

.page_section i {
    font-size: 160px;
}

.page_section h1 {
    margin-top: 10px;
}

.navigation_menu {
    position: absolute;
    top: 20px;
    left: 20px;
}

.navigation_menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.center_children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.content-page {
    overflow-x: hidden;
    margin-top: 80px;
    width: 90%;
}

.search_bar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);   
    padding: 10px;
    border-radius: 20px;
    background-color: #e90000;
    display: flex;
    justify-content: space-between;
}

.search_bar input {
    background-color: transparent;
    color: white;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.search_bar button {
    background-color: transparent;
    color: white;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

#contact {
    background-color: #f05f40;
    padding: 60px 0px 60px 0px;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    width: 100%;
}

.comment {
    width: 60%;
}

.user_avatar i {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}